
:root {
    --background-main: #f6f6f6;
    --background: #fff;
    --background-image-list: #a8a8a8;
    --primary: #262626;
    --secondary: #8e8e8e;
    --tertiary: #c7c7c7;
    --quartary: #0095f6;
    --border: #dbdbdb;
    --border-secondary: #efefef;
    --danger-link: #ed4957;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --mobile-nav-height: 44px;
    --desktop-nav-height: 60px;
    --story: linear-gradient(#c82d8e, #F99D4C);
}